/**
 * Inspired by github's default code highlighting
 */
pre { white-space: pre; background-color: #f8f8f8; border: 1px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
pre code.hl-highlighted {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
code.hl-highlighted {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}

code.hl-highlighted {color: #008080;}
code.hl-highlighted .function {color: #008080;}
code.hl-highlighted .function.known {color: #800603;}
code.hl-highlighted .function.known.special {color: #2d2d2d; font-weight: bold;}
code.hl-highlighted .keyword {color: #990073;}
code.hl-highlighted .keyword.known {color: #990073;}
code.hl-highlighted .symbol {color: #75a;}
code.hl-highlighted .lambda-list {color: #966;}
code.hl-highlighted .number {color: #800;}
code.hl-highlighted .variable.known {color: #c3c;}
code.hl-highlighted .variable.global {color: #939;}
code.hl-highlighted .variable.constant {color: #229;}
code.hl-highlighted .nil {color: #f00;}
code.hl-highlighted .list {color: #222;}

code.hl-highlighted .string, code.hl-highlighted .string * {color: #d14 !important;}
code.hl-highlighted .comment,
code.hl-highlighted .comment *,
code.hl-highlighted .comment .string
code.hl-highlighted .comment .string * {color: #777777 !important;}
code.hl-highlighted .string .comment {color: #d14 !important;}

code.hl-highlighted .list.active {display: inline-block; background: #aefff7;}

